body
{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
}

button
{
	outline: none; /* Esto es para q no aparesca el marco azul en el boton cuando se presiona en chrome */
}

.Divisor
{
	background-color: white;
	border-bottom: 5px #F4F5F6 solid;
	height: 40px; /*definir altura para poner las lineas una debajo de la otra*/
	margin: 0 0 25px 0;
	padding: 0;
}

.Divisor-texto
{
	border-bottom: 5px #66CA00 solid;
	color: #66CA00; 
	display: inline-block;
	margin: 15px 0 0 103px;
	padding: 0 5px 3px 5px;
}
.Header
{
	background-color: white;
	height: 100px;
}

.Header-imagenContenedor
{
	display: inline-block;
	float: left;
	margin: 31px 0 0 103px;
	padding: 0;
}

.Header-contactoContenedor
{
	display: inline-block;
	float: right;
	margin: 22px 103px 0 0;
	text-align: center;
}
.Header-contactoTextoArriba
{
	color: #66CA00;
	font-size: 0.9rem;
	margin: 0;
	padding: 0;
}

.Header-contactoBoton
{
	background-color: #66CA00;
	border: 0px;
	border-radius: 5px;
	color: white;
	font-size: 0.9rem;
	height: 30px;
	margin: 5px 0 0 0;
	padding: 0;
	width: 147px;
}

.Footer
{
	background-color: #66CA00;
	height: 50px;
}

.Footer-imagenContenedor
{
	display: inline-block;
	float: left;
	margin: 13px 0 0 103px;
	padding: 0;
	width: 140px;
}

.Footer-derechos
{
	color: white;
	display: inline-block;
	float: left;
	font-size: 0.8rem;
	line-height: 50px;
	margin: 0 0 0 150px;
	padding: 0;
}

.Footer-preguntasFrecuentes
{
	background-color: white;
	border: 0;
	border-radius: 30px;
	color: #66CA00;
	height: 31px;
	margin: 9.5px 103px 9.5px 0px;
	display: inline-block;
	font-size: 0.8rem;
	float: right;
	width: 163px;
}

.Mensaje
{
	background-color: #66CA00;
	border-radius: 5px;
	height: 100px;
	position: relative;
	left: 103px;
	margin: 0 0 50px 0;
	padding: 0;
	width: 754px;
}

.Mensaje-imagenContenedor
{
	display: inline-block;
	margin: 0px; 
	padding: 0px;
	position: absolute;
	left: 29px;
	top: 25px;
	width: 79px;
}

.Mensaje-texto
{
	color: white;
	display: inline-block;
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 123px;
	top: 27px;
	width: 620px;
}

.Microservicio
{
	display: inline-block;
	padding: 0;
	position: relative;
	left: 103px;
	margin: 0 38px 50px 0;
	text-align: center;
	vertical-align: top;
	width: 226px;
}

.Microservicio-boton
{
	background-color: white;
	border: 1px #E1E1E1 solid;
	border-radius: 17.5px;
	color: #B1B1B1;
	font-size: 1rem;
	height: 35px;
	margin: 0;
	padding: 0;
	width: 150px;
}

.Microservicio-boton:hover
{
	background-color: #66CA00;
	border: none;
	color: white;
}

.Microservicio-imagen
{
	margin: 0;
	height: 140px;
	width: 226px;
} 

.Microservicio-imagenContenedor
{
	margin: 0;
	padding: 0;
}

.Microservicio-titulo
{
	color: #7F8080;
	font-size: 15px;
	font-weight: 400;
	min-height: 50px;
	margin: 10px 0 0 0;
	padding: 0 5px;
	word-wrap: break-word;
	width: 216px;
}

.MicroserviciosTodos
{
	font-size: 0;
}

.Slider
{
	background-image: url("img/fondoSlider.gif");
	background-repeat: no-repeat;
	height: 275px;
	text-align: center;
}

.Slider-h1
{
	color: white;
	display: inline-block;
	font-size: 30.5px;
	font-weight: 600;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0px;
	margin: 65px 0 28px 0;
	padding: 0;
	width: 690px;
}


.Slider-textoInferior
{
	background-color: white;
	color: #66CA00;
	display: inline-block;
	font-size: 1.2rem;
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	height: 32px;
	margin: 0;
	padding: 4px 0 0 0;
	width: 754px;
}

