body{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
}

button{
	outline: none; /* Esto es para q no aparesca el marco azul en el boton cuando se presiona en chrome */
}

/*Header*/
.Header{
	background-color: white;
	height: 100px;
	margin: 0 auto;
	position: relative;
	width: 80%;
}

.Header-imagen{
	border: none;
	height: 40px;
	left: 0px;
	padding: 30px 0 0 0;
	position: absolute;
	vertical-align: middle;
}

.Header-imagenContenedor{
	margin: 0;
	padding: 0;
}

.Header-contactoContenedor{
	padding: 20px 0 0 0;
	position: absolute;
	right: 0;
	text-align: center;
}

.Header-contactoTextoArriba{
	color: #66CA00;
	font-size: 0.9rem;
	margin: 0;
	padding: 0;
}

.Header-contactoBoton{
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #66CA00;
	border-radius: 5px;
	border: 0px;
	color: white;
	font-size: 0.9rem;
	height: 30px;
	margin: 5px 0 0 0;
	padding: 0;
	width: 147px;
}

/*Slider*/
.Slider{
	background-image: url("img/fondoSlider.gif");
	background-size: cover; /*Se adapta el fondo (Si pongo 100% se repite el fondo*/
	height: 100%;
	margin: 0 auto;
	padding: 73px 0;
	width: 100%;
}

.Slider-h1{
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size: 30.5px;
	font-weight: 600;
	margin: 0 auto 25px auto;
	padding: 0;
	text-align: center;
	width: 80%;
}

.Slider-textoInferior
{
	background-color: white;
	color: #66CA00;
	font-family: 'Dosis', sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	margin: 0 auto;
	padding: 4px 10px;
	text-align: center;
	width: 75%;
}

/*Dividor 1 (Precio S/.50)*/
.Divisor{
	background-color: white;
	border-bottom: 5px #F4F5F6 solid;
	height: 40px; /*definir altura para poner las lineas una debajo de la otra*/
	margin: 0 auto 25px auto;
	padding: 0;
}

.Divisor-texto{
	border-bottom: 5px #66CA00 solid;
	color: #66CA00; 
	display: inline-block;
	margin: 15px 0 0 10%; /*necesario para superponer las lineas inferiores*/
	padding: 0 5px 3px 5px;
}

/*Microservicios*/
.Microservicio{
	display: inline-block;
	margin: 0 22px 50px 22px;
	padding: 0;
	text-align: center;
	width: 226px;
}

.Microservicio-boton{
	-moz-border-radius: 17.5px;
	-ms-border-radius: 17.5px;
	-o-border-radius: 17.5px;
	-webkit-border-radius: 17.5px;
	background-color: white;
	border-radius: 17.5px;
	border: 1px #E1E1E1 solid;
	color: #B1B1B1;
	font-size: 1rem;
	height: 35px;
	margin: 0;
	padding: 0;
	width: 150px;
}

.Microservicio-boton:hover{
	background-color: #66CA00;
	border: none;
	color: white;
}

.Microservicio-imagen{
	height: 140px;
	margin: 0;
	width: 226px;
} 

.Microservicio-imagenContenedor{
	margin: 0;
	padding: 0;
}

.Microservicio-titulo{
	color: #7F8080;
	font-size: 15px;
	font-weight: 400;
	margin: 10px 0 0 0;
	min-height: 50px;
	padding: 0 5px;
	width: 216px;
	word-wrap: break-word;
}

.MicroserviciosTodos{
	font-size: 0;
	margin: 0 auto;
	text-align: center;
	width: 89%;
}






.Contratacion
{
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #F4F5F6;
	border-radius: 5px;
	display: inline-block;
	font-size: 0; /*para que se peguen totalmente los circulos*/
	height: 288px;
	left: 103px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 754px;
}



.Contratacion-pasosTodos
{
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	padding: 0;
	position: absolute;
	text-align: center; /*para q se centren los 3 circulos*/
	top: 50%;
	transform: translateY(-50%);
	width: 100%; /*para q se centren los 3 circulos*/
}

.Contratacion-paso1
{
	background-color: #66CA00;
}

.Contratacion-paso2
{
	background-color: #FF5D2A;
}

.Contratacion-paso3
{
	background-color: #0082FF;
}

.Contratacion-paso1,
.Contratacion-paso2,
.Contratacion-paso3
{
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: white 5px solid;
	display: inline-block;
	height: 217px;
	margin: 5px;
	padding: 0;
	position: relative;
	text-align: center;
	width: 217px;
}

.Contratacion-texto
{
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	color: white;
	font-size: 0.8rem;
	margin: 0;
	padding: 0 1rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;
}




.Importante
{
	background-color: white;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: #f4f5f6 2px solid;
	display: inline-block;
	height: 124px;
	margin: 25px 0 50px 0;
	padding: 0;
	position: relative;
	left: 103px;
	width: 754px;
}

.Importante-texto
{
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	color: #676767;
	font-size: 0.8rem;
	margin: 0;
	padding: 0 1rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;
}

.Importante-texto span
{
	color: #66CA00;
	font-weight: 500;
}
/*
.Importante
{
	position: relative;
	margin: 0;
	padding: 0;
	left: 103px;
	width: 734px;
	height: 124px;
}

.Importante-texto
{
	background-color: white;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: #F4F5F6 2px solid;
	font-size: 0.9rem;
	position: absolute;
	top: 50%;
	vertical-align: middle;
}
*/
.Footer
{
	background-color: #66CA00;
	height: 50px;
}

.Footer-imagenContenedor
{
	display: inline-block;
	float: left;
	margin: 13px 0 0 103px;
	padding: 0;
	width: 140px;
}

.Footer-derechos
{
	color: white;
	display: inline-block;
	float: left;
	font-size: 0.8rem;
	line-height: 50px;
	margin: 0 0 0 150px;
	padding: 0;
}

.Footer-preguntasFrecuentes
{
	background-color: white;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 0;
	color: #66CA00;
	display: inline-block;
	float: right;
	font-size: 0.8rem;
	height: 31px;
	margin: 9.5px 103px 9.5px 0px;
	width: 163px;
}

.Mensaje
{
	background-color: #66CA00;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 100px;
	left: 103px;
	margin: 0 0 50px 0;
	padding: 0;
	position: relative;
	width: 754px;
}

.Mensaje-imagenContenedor
{
	display: inline-block;
	left: 29px;
	margin: 0px; 
	padding: 0px;
	position: absolute;
	top: 25px;
	width: 79px;
}

.Mensaje-texto
{
	color: white;
	display: inline-block;
	font-size: 1rem;
	font-weight: 400;
	left: 123px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 27px;
	width: 620px;
}





